@import '../variables';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  outline: none;
  text-align: left;

  .wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &.landscape {
    flex-direction: row;

    .wrapper {
      position: relative;
      overflow: hidden;
      z-index: 1;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }
}
.listWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  flex-grow: 1;
}
